/**
 * 
 * GK Grid back-end CSS code
 *
 **/

/*

Copyright 2013-2013 GavickPro (info@gavick.com)

this program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License, version 2, as 
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

*/

.gk-grid-ui select {
	float: left;
	margin: 0 5px;
}
.gk-grid-ui > p {
	border-bottom: 1px solid #e8e8e8;
	margin: 0!important;
	padding: 5px 0!important;
	overflow: hidden;
}
.gk-grid-ui label {
	float: left;
	line-height: 2;
	padding-right: 10px;
}
.gk-grid-ui .gk-small {
	float: left;
	text-align: right;
	width: 50px;
}
.gk-grid-ui .gk-inline,
.gk-grid-ui .gk-inline-wide {
	display: inline-block;
	margin: 0 5px;
	text-align: right;
	width: 50px;
}
.gk-grid-ui .gk-inline-wide {
	width: 120px;
}
.gk-grid-ui .gk-title,
.gk-grid-ui .gk-wide {
	float: left;
	text-align: left;
	width: 150px;
}
.gk-cols2 {
	overflow: hidden;
}
.gk-cols2 > span {
	float: left;
	margin: 0;
	padding: 0;
	width: 50%;
}

/* 
 * Grid editor 
 */
.gk_grid_manager {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	max-width: 490px;
	overflow: hidden;
	padding: 10px 0;
	width:  100%;
}
.gk_grid_manager + textarea {
	display: none;
}
.gk_grid_manager > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 44%;
}

.gk_grid_manager > div:first-child {
	border-left: none;
	width: 56%;
}

.gk_grid_header {
	overflow: hidden;
	padding: 5px 10px 20px;
}

.gk_grid_header h3 {
	background: transparent!important;
	float: left;
	margin: 5px 0;
}

.gk_grid_preview .gk_grid_header {
	text-indent: 5px;
}

.gk_grid_btn {
	background: #415e7f;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border: none;
	clear: none;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
}
.gk_grid_btn:hover { border: none}
.gk_grid_add {
	float: right;
	margin: 0!important;
}

.gk_grid_btn:hover {
	background: #272727;
}

.gk_grid_form_add,
.gk_grid_form_edit {
	clear: both;
	margin: 10px 0 0 0;
	overflow: hidden;
	position: relative;
}

.gk_grid_form_edit {
	margin: 0;
}

.gk_grid_form_add > div,
.gk_grid_form_edit > div {
	border-top: 1px solid #eee;
	margin-top: -250px;
	opacity: 0; filter: alpha(opacity=0);
	padding-top: 24px;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.gk_grid_form_edit > div {
	padding-top: 24px;
}

.gk_grid_form_add.active > div,
.gk_grid_form_edit.active > div {
	margin-top: 11px;
	opacity: 1; filter: alpha(opacity=100);
}

.gk_grid_form_add > div > p,
.gk_grid_form_edit > div > p {
	clear: both;
	margin: 2px 0;
	overflow: hidden;
}
.gk_grid_form_edit > div > p:first-child { margin: 0 0 16px}
.gk_grid_form_edit > div > p:last-child { margin: 16px 0 0}
.gk_grid_form_add > div > p > label,
.gk_grid_form_edit > div > p > label {
	color: #666;
	float: left;
	font-size: 11px;
	font-weight: normal;
	max-width: 40%;
	min-width: 10px!important;
	width: auto;
}

.gk_grid_form_edit > div > p > label {
	max-width: 40%;
	width: auto;
}

.gk_grid_form_add > div > p > span,
.gk_grid_form_edit > div > p > span {
	float: right;
}

.gk_grid_form_add_position,
.gk_grid_form_add_position {
	max-width: 100px;
}

.gk_grid_form_add > div > p > span > input,
.gk_grid_form_edit > div > p > span > input {
	display: inline-block!important;
	float: none!important;
	margin: 0!important;
	padding: 2px!important;
}

.gk_grid_form_add > div > p > span > input[type="number"],
.gk_grid_form_edit > div > p > span > input[type="number"] {
	text-align: center;
}

.gk_grid_form_add_save,
.gk_grid_form_edit_save {
	float: right;
}

/* Grid block list */
.gk_grid_blocks_list {
	padding: 10px 10px 4px 10px;
}
.gk_grid_desktop_preview.loading,
.gk_grid_tablet_preview.loading,
.gk_grid_mobile_preview.loading,
.gk_grid_blocks_list.loading {
	background: #fff url('loader.gif') no-repeat center center;
	min-height: 64px;
}

.gk_grid_blocks_list > li {
	border: 1px solid #e5e5e5;	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	cursor: pointer;
	font-size: 12px;
	margin: 0 0 8px;
	padding: 12px;
}

.gk_grid_blocks_list > li > div.gk_handler > i:first-child {
	color: #888;
    float: right;
    height: 39px;
    margin: -12px -12px -12px 16px;

}

.gk_grid_blocks_list > li > div.gk_handler > strong {
	color: #444;
	cursor: move;
	margin-left: 5px;
}

.gk_grid_blocks_list > li > div.gk_handler > span {
	color: #bbb;
    font-size: 10px;
    padding: 0 8px;
}

.gk_grid_blocks_list > li > div.gk_handler > .icon-pencil {
	color: #999;
	float: right;
	margin-right: 10px;
}

.gk_grid_blocks_list > li > div.gk_handler > .icon-remove {
	color: #c66;
	float: right;	
}

/* Colors */
.gkColor1 { color: #fcc!important; background: #fcc; }
.gkColor2 { color: #cfc!important; background: #cfc; }
.gkColor3 { color: #ccf!important; background: #ccf; }
.gkColor4 { color: #ffc!important; background: #ffc; }
.gkColor5 { color: #fcf!important; background: #fcf; }
.gkColor6 { color: #cff!important; background: #cff; }

.gkColor7 { color: #fca!important; background: #fca; }
.gkColor8 { color: #fac!important; background: #fac; }
.gkColor9 { color: #cfa!important; background: #cfa; }
.gkColor10 { color: #afc!important; background: #afc; }
.gkColor11 { color: #acf!important; background: #acf; }
.gkColor12 { color: #caf!important; background: #caf; }


.gkColor13 { color: #c99!important; background: #c99; }
.gkColor14 { color: #9c9!important; background: #9c9; }
.gkColor15 { color: #99c!important; background: #99c; }
.gkColor16 { color: #cc9!important; background: #cc9; }
.gkColor17 { color: #9c9!important; background: #9c9; }
.gkColor18 { color: #9cc!important; background: #9cc; }

.gkColor19 { color: #c97!important; background: #c97; }
.gkColor20 { color: #c79!important; background: #c79; }
.gkColor21 { color: #9c7!important; background: #9c7; }
.gkColor22 { color: #7c9!important; background: #7c9; }
.gkColor23 { color: #97c!important; background: #97c; }
.gkColor24 { color: #79c!important; background: #79c; }


.gkColor25 { color: #966!important; background: #966; }
.gkColor26 { color: #696!important; background: #696; }
.gkColor27 { color: #669!important; background: #669; }
.gkColor28 { color: #996!important; background: #996; }
.gkColor29 { color: #969!important; background: #969; }
.gkColor30 { color: #699!important; background: #699; }

.gkColor31 { color: #963!important; background: #963; }
.gkColor32 { color: #936!important; background: #936; }
.gkColor33 { color: #396!important; background: #396; }
.gkColor34 { color: #693!important; background: #693; }
.gkColor35 { color: #369!important; background: #369; }
.gkColor36 { color: #639!important; background: #639; }


.gkColor37 { color: #000!important; background: #000; }
.gkColor38 { color: #333!important; background: #333; }
.gkColor39 { color: #666!important; background: #666; }
.gkColor40 { color: #999!important; background: #999; }

/* Sortable block list */
body.dragging, 
body.dragging * {
  cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;

}

.gk_grid_blocks_list li.placeholder {
	background: #e9f0f9;
	border: 1px dashed #415e7f;
	position: relative;
}

/* Preview */
.gk_grid_content h4 {
	color: #aaa;
	font-size: 20px;
	margin: 10px 0;
	text-align: center;
}
.gk_grid_mobile_preview_wrap > div {
	float: left;
	width: 35%;
}
.gk_grid_mobile_preview_wrap > div:first-child {
	width: 65%;
}
.gk_grid_desktop_preview,
.gk_grid_tablet_preview,
.gk_grid_mobile_preview {
	border: 1px solid #e5e5e5;
	margin: 0 auto;
	overflow: hidden;
	padding: 4px;
	position: relative;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.gk_grid_desktop_preview {
	margin: 11px 0 0 15px;
	width:  180px;
}

.gk_grid_tablet_preview {
	width:  100px;
}

.gk_grid_mobile_preview {
	width:  50px;
}

.gk_grid_desktop_preview p,
.gk_grid_tablet_preview p,
.gk_grid_mobile_preview p {
	margin: 0;
	padding: 4px;
}

.gkGridElm {
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.gkGridElm.previewed {
	border: 3px solid #bbb;
}

/* jQuery Spinner UI */
.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	padding: 0;
	margin: .2em 16px .2em 5px;
	vertical-align: middle;
	padding: 2px;
	text-align: center;
}
.ui-spinner-button {
	width: 12px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 4px;
}
.ui-spinner-down {
	bottom: -3px;
}
